.wrap-slide-show {
    width: auto;
    background-color: #fff;
    height: auto;
    /* padding-b: 10px; */
    /* display: flex; */
    /* justify-content: center; */

    .wrap-img-1 {
        background-color: #fff;
        img {
            width: 374px;
            height: 175px;
            border-radius: 5px;
        }
    }
}

