table {
    text-align: center;
    border: 1px solid #cccc;
    border-collapse: collapse;
    padding: 12px 0;
    min-width: 1040px;
    tr {
        border: 1px solid #cccc;

        th {
            border: 1px solid #cccc;
            padding: 5px;

        }

        td {
            font-weight: 400;
            border: 1px solid #cccc;
            padding: 5px;
            max-width: 150px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}