.admin-header {
    background-color: #DC3545;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin-bottom: 24px;
    .ad-header2 {
        display: flex;
        align-items: center;
        padding: 0 70px;

        b {
            color: yellow;
        }

        p {
            margin-right: 15px;
        }

        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: #333333;
            i {
                margin: 0 10px;
            }
        }

    }
}