.ad-home {
    .abc {
        p {
            color: #fff;
            margin: 10px 0px;
        }

        input {
            width: 500px;
            height: 40px;
        }

        select {
            width: 500px;

            // option {
            //     &:hover {
            //         background-color: rgba($color: #000000, $alpha: 0.01);
            //     }
            // }

        }

        margin: 24px;
    }
}