.ad-home {
    .abc {
        p {
            color: #fff;
            margin: 10px 0px;
        }

        input {
            width: 500px;
            height: 40px;
        }

        select {
            width: 500px;
        }
        margin: 24px;
    }
}