.wrap-all2 {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    z-index: 100;
    // background-color: #00000090;
    .test2 {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: fixed;
        background-color: #00000090;
        display: flex;
        justify-content: center;
        z-index: 100;
    }

    .wrap-child1 {
        z-index: 101;
    }

    .box-buy {
        max-width: 776px;
        background-color: #fff;
        font-size: 14px;
        border-radius: 4px;

        .header-buy {
            width: 776px;
            border-bottom: 1px solid #edeeef;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 24px;

            h2 {
                color: #212529;
                margin: 0;
                font-size: 24px;
                font-weight: 500;
            }

            i {
                color: #a9b0b6;
            }
        }

        .body-buy {
            .product-cart {
                padding: 32px 24px 0px;
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #edeeef;

                .product-cart-img {
                    margin-right: 8px;
                    height: 352px;

                    img {
                        width: 80px;
                        height: 80px;
                    }
                }

                .product-cart-info {
                    .product-cart-inside {
                        display: flex;
                        flex-direction: column;
                        width: 340px;

                        b {
                            font-size: 16px;
                            line-height: 24px;
                            font-weight: 500;
                            color: #32373d;
                        }

                        .option-color {
                            height: 32px;
                            margin-bottom: 7px;
                            width: auto;
                            width: 80px;
                            border-radius: 5px;
                        }

                        .option-sale {
                            height: 32px;
                            margin-bottom: 7px;
                            width: auto;
                            width: 200px;
                            border-radius: 5px;
                        }

                        ul {
                            margin: 10px 0px 0px 15px;
                            padding: 0;
                            width: 240px;

                            li {
                                color: #6a737a;
                                margin-bottom: 4px;
                            }
                        }

                        a {
                            color: #0168fa;
                            text-decoration: none;
                            margin-bottom: 5px;
                            border-bottom: 1px solid #edeeef;

                        }

                        .check-discount {
                            border: 1px solid #6a737a;
                            position: relative;
                            margin: 0px 5px 5px 0px;
                            height: 50px;

                            input {
                                top: 60%;
                                left: 0;
                            }
                        }
                    }
                }

                .product-quantity {
                    width: 94px;
                    // background: red;
                    height: 28px;
                    display: flex;

                    .minus {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #212529;
                        width: 30%;
                        border: 1px solid #a9b0b6;
                    }

                    .quantity {
                        color: #212529;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 40%;
                        border: 1px solid #a9b0b6;
                    }

                    .plus {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #212529;
                        width: 30%;
                        border: 1px solid #a9b0b6;
                    }
                }

                .price-product {
                    p {
                        color: #cb1c22;
                        font-weight: 500;
                    }

                    span {
                        color: #a9b0b6;
                        text-decoration: line-through;
                    }
                }
            }
        }

        .change-point {
            display: flex;
            padding: 16px 24px;
            align-items: center;
            border-bottom: 1px solid #edeeef;

            .switch {
                font-size: 17px;
                position: relative;
                display: inline-block;
                width: 32px;
                height: 20px;
            }

            .switch input {
                opacity: 0;
                width: 0;
                height: 0;

            }

            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                box-shadow: inset 1px 2px 5px 1px rgba(0, 0, 0, 0.329);
                transition: .4s;
                border-radius: 30px;
                background-color: #6a737a;

            }

            .slider:before {
                position: absolute;
                content: "";
                height: 16px;
                width: 16px;
                border-radius: 20px;
                left: 2px;
                bottom: 2px;
                background-color: rgb(255, 255, 255);
                transition: .4s;
            }

            .switch input:checked+.slider {
                background-color: #59c76b;
            }

            .switch input:focus+.slider {
                box-shadow: inset 3px 2px 4px rgba(22, 22, 22, 0.253);
            }

            .switch input:checked+.slider:before {
                transform: translatex(13px);
            }

            i {
                color: #f6c743;
                margin: 0px 10px;
                font-size: 20px;
            }

            p {
                margin: 0;
                color: #32373d;
                font-weight: 400;
                font-size: 16px;
            }
        }

        // thẻ bấm
        .discount-code {
            display: flex;
            padding: 16px 24px;
            justify-content: space-between;
            background-color: #fff;

            .insert-code {
                display: flex;
                flex-direction: column;

                b {
                    color: #212529;
                    margin-bottom: 8px;
                    font-size: 17px;
                    font-weight: 400;
                }

                input {
                    color: #212529;
                    padding: 3px 8px;
                    margin-right: 5px;
                    height: 32px;
                }

                button {
                    color: #fff;
                    background-color: #cb1c22;
                    border: 1px solid;
                    border-radius: 5px;
                    padding: 7px 12px;
                }
            }

            .pay-product {
                width: 276px;

                .pay {
                    display: flex;
                    justify-content: space-between;

                    p {
                        color: #444b52;
                        margin-bottom: 10px;
                    }

                    b {
                        color: #444b52;
                    }

                    span {
                        color: #cb1c22;
                        font-weight: 600;
                    }
                }
            }
        }

        .buy-together {
            background-color: #f8f9fa;
            padding: 0px 24px;

            h3 {
                color: #212529;
                background-color: #edeeef;
                width: 175px;
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
                padding: 2px 8px;
                margin: 0;
            }

            .box-product {
                padding: 16px 0px;
                display: flex;

                .box-produc-child {
                    width: 33%;
                    display: flex;
                    margin-bottom: 16px;

                    img {
                        width: 56px;
                        height: 56px;
                    }

                    p {
                        color: #212529;
                    }

                    b {
                        color: #cb1c22;
                        margin: 4px 0px;
                    }

                    span {
                        color: #99a2aa;
                        text-decoration: line-through;
                    }
                }
            }
        }

        .customer-information {
            background-color: #fff;
            padding: 16px 24px;

            h3 {
                margin: 0px 0px 10px 0px;
                color: #32373d;

            }

            input {
                padding: 5px 8px;
                margin: 0px 16px 8px 0px;
                border-radius: 5px;
                border: 1px solid #cbd1d6;
            }

            .delivery-method {
                display: flex;
                margin-bottom: 10px;

                input {
                    margin: 0px 3px 0px 0px;
                }

                p {
                    color: #212529;
                    margin-right: 20px;
                }
            }

            .delivery-address {
                select {
                    width: 48%;
                    padding: 6px 8px;
                    margin-bottom: 10px;
                }

                input {
                    width: 490px;
                }
            }

            .receive {
                b {
                    color: #212529;
                    margin-right: 5px;
                }

                select {
                    width: 48%;
                    padding: 6px 8px;
                    margin-bottom: 10px;
                }

            }

            .service {
                color: #212529;
                font-size: 16px;
                margin-bottom: 32px;

                p {
                    color: #212529;
                    margin-bottom: 5px;
                }

                input {
                    margin: 0;
                }
            }

            ul {
                list-style: none;
                padding: 0;
                border-bottom: 1px solid #cbd1d6;

                li {
                    color: #212529;
                    margin-bottom: 8px;
                    font-size: 16px;

                    input {
                        margin: 0px 5px 0px;

                    }

                }

            }
        }

        .complete {
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-bottom: 24px;

            button {
                padding: 15px 23px;
                background-color: #cb1c22;
                border: 1px solid #cbd1d6;
                border-radius: 5px;
                color: #edeeef;
                font-size: 20px;
                margin-bottom: 16px;
            }

            p {
                color: #212529;
            }
        }

        .success {
            // z-index: 104;
            background-color: #fff;
            width: 500px;
            height: 300px;
            margin-top: 100px;
            display: flex;
            flex-direction: column;
            // justify-content: center;
            align-items: center;
            padding: 30px;

            i {
                font-size: 100px;
                color: red;
            }

            h3 {
                font-size: 25px;
            }

            button {
                width: 250px;
                height: 50px;
                background-color: #cb1c22;
                color: #edeeef;
                font-size: 15px;
                font-weight: 600;
                border: 1px solid #99a2aa;
                cursor: pointer;
            }
        }
    }
}