.wrap {
    width: 585px;
    background-color: #fff;
    height: 410px;
    /* padding-b: 10px; */
    /* display: flex; */
    /* justify-content: center; */

    .test {
        background-color: #fff;
    }

    img {
        width: 585px;
        height: 390px;
        border-radius: 5px;
    }
}