.App {
  background-image: url("https://images.fpt.shop/unsafe/fit-in/filters:quality(95):fill(transparent)/fptshop.com.vn/Uploads/Originals/2023/5/31/638211284872012051_desk-header-bg.png");
  background-color: rgb(249, 30, 0);
  background-repeat: no-repeat;
  background-size: cover;
}